body{
    background-color: aliceblue;
}
.border{
    height: 400px;
    width: 400px;
    
    margin-left: 100px;
}
.p{
    margin-top: 0;
    font-size: 50px;
    margin-bottom: 40px;
}
.text{
    font-size: 20px;
    margin-bottom: 40px;
}
.mask{
    height: 600px;
    width: 600px;
    margin-right: 100px;

}
.flex{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}