.back{
    background-image: url("https://images.pexels.com/photos/592077/pexels-photo-592077.jpeg?cs=srgb&dl=pexels-katja-592077.jpg&fm=jpg");
    background-size: cover;
    height: 100vh;
    padding-left: 150px;
}
.gol{
    display: flex;
    align-items: center;
   height: 100vh;
}
.p{
    font-size: 50px;
    color: white;
}
.smallP{
    font-size: 20px;
    color: white;
}
.text{
    display: block;
}
button{
    height: 50px;
    width: fit-content;
    border: 1px solid gray;
    background-color: rgb(83, 118, 159);
    border-radius: 5px;
}
.butin{
    display: flex;
    gap: 10px;
}