.blog{
    margin-left: 10vw;
    font-size: 50px;
    
}
.p{
    color: gray;
    margin-left: 10vw;
    margin-top: 20px;
}
.border{
    width: 80vw;
    height: 140vh;
    margin-top: 40px;
}    
.flex{
    display: flex;
    justify-content: center;
}
.grid{                   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 78.5px;
    
}
.but{
    height: 40px;
    width: 130px;
    margin-top: 40px;
    background-color: rgb(193, 189, 189);
    border: 1px solid rgb(193, 189, 189);
    border-radius: 5px;
}
.paget{
    padding-top: 100px;
}