.square{
  height: fit-content;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  border: 1px solid rgb(199, 195, 195);
}
.text{
  font-size: 19px;
  margin-bottom: 10px;
  margin-top: 10px;
  
}
.img{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-right: 10px;
  border: 1px solid black;
  
}
.ar{
  display: flex;
  align-items: center;
}
.star{
  color: rgb(255, 204, 0);
  margin-right: 59px;
}
.back{
  height: 100vh;
  width: 100vw;
}
.team{
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
  background-color: rgb(194, 186, 186);  
}
.realteam{
  height: 100px;
  width: 85%;
  display: flex;
 justify-content: space-between;
  justify-content: center;

}
.realposi{
  display: flex;
 justify-content: space-between;
  justify-content: center;
  

}
.teamn{
  font-size: 45px;
  color: white;
}
.router{
 margin-right: 20px
  
}
.button{
  height: 60px;
  width: 140px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: rgb(43, 105, 186);
  color: white;
  font-size: 20px;
}
.link{
  margin-right: 100px;
  color: white;
  font-size: 20px;
}
.dotor{
  height: 500px;
  width: 500px;
  border: 1px solid black;
  
}
.dood{
  display: flex;
  align-items: flex-end;
}